<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-3 text-center">
            <h1 class="display-2"> Bonjour <%= username %> </h1>
        </div>
        <div class="col-12">
            <div class="jumbotron">
                <form id="add-weather" class="text-center">
                    <input id="input-weather-city" list="weatherCities" value="Paris, France">
                    <input id="input-weather-interval" placeholder="Interval in seconds..." type="number" step="1" min="10" max="60" value="10">
                    <button class="btn btn-action"> Add weather widget </button>
                    <datalist id='weatherCities'>
                        <% for(var i = 0 ; i < citiesList.length ; i++) { %>
                            <option value="<%= citiesList[i] %>"><%= citiesList[i] %></option>
                        <% } %>
                    </datalist>
                </form>

                <form id="add-radio" class="text-center">
                    <input id="input-radio-name" list="radioList" placeholder="Radio ..." value="Radio Classique">
                    <button class="btn btn-action"> Add radio widget </button>
                    <datalist id='radioList'>
                        <% for(var i = 0 ; i < radioList.length ; i++) { %>
                            <option value="<%= radioList[i] %>"><%= radioList[i] %></option>
                        <% } %>
                    </datalist>
                </form>

                <form id="add-clock" class="text-center">
                    <input id="input-clock-name" list="clockList" placeholder="Horloge ..." value="Paris">
                    <button class="btn btn-action"> Add clock widget </button>
                    <datalist id='clockList'>
                        <% for (const city of cities) { %>
                            <option value="<%= city %>"><%= city %></option>
                        <% } %>
                    </datalist>
                </form>

                <button id="btn-update" class="btn btn-action"> Update widgets </button>
                <button id="btn-serialize" class="btn btn-action"> Save widgets </button>
            </div>

            <div class="gridster ready" id="widgetsArray">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <button id="btn-update" class="btn btn-action"> Update widgets </button>

<button id="btn-serialize" class="btn btn-action"> Save widgets </button> -->

<!-- <div class="gridster ready" id="widgetsArray">
    <ul>
    </ul>
</div> -->
