<i class="fas fa-cog" id='clock_<%= id %>'></i>
<i class="fas fa-trash-alt" id='delete_<%= id %>'></i>

<form class="form-group" id='widgetSettings_<%= id %>' style='display: none'>
	<input class="form-control" id="input-update-clock_<%= id %>" list="clockList" placeholder="Horloge ..." value="<%= city %>">
	<button class="btn btn-action align-text-bottom"> Change configuration </button>
</form>

<div id='widget_<%= id %>'>

    <h1><%= city %></h1>
    <span><%= time %></span>
</div>
