<i class="fas fa-cog" id='setting_<%= id %>'></i>
<i class="fas fa-trash-alt" id='delete_<%= id %>'></i>

<form class="form-group" id='radioSettings_<%= id %>' style='display: none'>
	<input class="form-control" id="input-update-radio_<%= id %>" list="radioList" placeholder="Radio URL ..." value="<%= radio %>">
	<br>
	<button class="btn btn-action align-text-bottom"> Change configuration </button>
</form>

<div id='widget_<%= id %>'>
	<audio preload="auto" controls style="width:100%; height:40px;" src="<%= radio %>"></audio>
</div>
