<ion-icon name="settings" id='setting_<%= id %>'></ion-icon>
<form id='weatherSettings_<%= id %>' style='display: none'>
	<input list="weatherCities" placeholder="City ...">
	<button class="btn btn-action"> Change city </button>
</form>

<h1> Température à <%= city %> : <%= temp %>°<%= unit %> </h1>
<img src="https://www.weatherbit.io/static/img/icons/<%= icon %>.png" alt="<%= description %>"></img>
